body{
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background: radial-gradient( at center, white 80%,gray 120%);
    height: 100vh;
    background-image:url("../image/pagejeune/logo_page_jeune.jpeg");
    background-size: 50%;
    background-position-x:40vw;
    background-position-y: 18vw;
    background-repeat: no-repeat;
}
/* banderole avec le nom de la page sur laquelle on est*/
#banderole{
color: white;
    margin: -8px;
    margin-bottom: 0px;
    background:radial-gradient( circle closest-corner at 220px 150px ,white 0%, lightgrey 100%);    
}

#banderole img{
    width: 14em;
}
#banderole b{
    margin-top: 1.2em;
    margin-left: 65vw;
    font-size:3.5em;
    position: absolute  ;
}
/******************************corps***************************/


.corps{
    background-color: aliceblue;
    border:#e6007e solid 2px;
    border-radius: 7px;
    color: #e6007e;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 1.7em;
    margin-left: 30vw;
    margin-right: 30vw;
    padding:1%;
}

.corps input{
    border: none;
    border-bottom: #e6007e dotted 2px;
    font-size: 0.5em;
    background-color: aliceblue;
}

.corps select{
    text-align: center;
    font-size: 0.6em;
    
}