/*Partie Banderole -------------------------------------------------*/
#banderole{
    margin: -7px;
    margin-bottom: 0px;
    background:radial-gradient( circle closest-corner at 220px 150px ,white 0%, lightgrey 100%);
    font-family:sans-serif;      
}
#banderole img{
    width: 14em;    
}

#banderole #Jeune{
    color: #e6007e;
    font-size:6em;
    text-decoration: none;
    margin-left: 63vw;
    position: absolute;  
}
#hautpage{
    color: white;
    margin-top: 3em;
    margin-left: 46vw;
    font-size:1.8em;
    text-decoration: none;
}
/* volet de navigation*/
#navigation{
    background:radial-gradient( 150px at 150px ,white -30%, lightgrey);  
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    top:0%;
}
#jeunes{
    background-color: #e6007e;
    color:white;
    text-decoration: none;
    margin-left: 4%;
    padding: 1%;
}
#referent{
    color:rgb(19, 202, 19);
    text-decoration: none;
    padding: 1%;
}
#consultant{
    color:rgb(34, 140, 186);
    text-decoration: none;
    padding: 1%;
}
#partenaires{
    color:rgb(92, 104, 92);
    text-decoration: none;
    padding: 1%;
}


/*-------------------------------------------------*/
body {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    background-image:url("../image/pagejeune/logo_page_jeune.jpeg");
    background-size: 40%;
    background-position:center;
    background-position-y: 250px;
    background-repeat: no-repeat;
}

.engagement{
    background-color: white;
    border:#e6007e solid 2px;
    border-radius: 7px;
    color: #e6007e;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 1.7em;
    margin-left: 30vw;
    padding:1%;
    width: 35vw;
}

.engagement input{
    border: none;
    border-bottom: #e6007e dotted 2px;
    font-size: 0.5em;
    background-color: aliceblue;
}

.engagement select{
    text-align: center;
    font-size: 0.6em;
    
}
#nouv{
        border: none;
        border-bottom: #e6007e dotted 2px;
        font-size: 0.5em;
        background-color: aliceblue;
        font-size: 0.8em;
        color: #e6007e;
        text-decoration: none;
}
h1 {
    color: #e6007e;
}

#carree{
    border: none;
    border-bottom: #e6007e dotted 2px;
    font-size: 0.5em;
    background-color: aliceblue;
    font-size: 0.8em;
    color: black;
}
         
.btn-grad {
    margin-top: 0.5vw;
    background-image: linear-gradient(to right, #e6007e 0%, #61045F  51%, #e6007e  100%);
    padding: 1vW 3vw;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 1em;
}

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .white{
    color: white;
  }

#savoiretre {
    color: #e6007e;
    font-size: 1.5em;
}

#jesuis{
    color: white;
    background: linear-gradient(to right,white,#e6007e);
    text-align: right;
    font-size: 1.3em;
}

#choix {
    background-color: #f5d4e6;
    font-size: 1.2em;
    color: black;

}

#nbchoix {
    color: #e6007e;
    font-size: 0.6em;
    margin-top: -2%;
    text-align: center;
}

table {
    margin-right: 2vw;
    float: right;
    margin-top: -15vw;
}

.corps{
    background-color: aliceblue;
    border:#e6007e solid 2px;
    border-radius: 7px;
    color: #e6007e;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 1.7em;
    margin-left: 30vw;
    margin-right: 30vw;
    padding:1%;
}

