body{      
    color:grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    background: radial-gradient( at center, white 80%,gray 120%);
    height: 100vh;
}
/* banderole avec le nom de la page sur laquelle on est*/
#banderole{
color: white;
    margin: -8px;
    margin-bottom: 0px;
    background:radial-gradient( circle closest-corner at 220px 150px ,white 0%, lightgrey 100%);    
}
.form a{
    text-decoration: none;
    color: black;
    border: black solid 1px;
    background-color: aliceblue;
    padding: 1% ;
    margin-right: 2%;
    margin-left: 2%;
}
.form{
    width: 15vw;
    text-align: center;
    background:radial-gradient( 100px at 100px ,white -30%, lightgrey);  
    font-size: 1.2em;
    margin-left: 85vw;
    right: 0%;
    position: absolute;
    background-color: lightgray;
    padding: 1.3%;
}
#banderole img{
    width: 14em;
}
#banderole b{
    margin-top: 1em;
    margin-left: 20vw;
    font-size:3.6em;
    float: right;
    position: absolute  ;
}
/* volet de navigation*/
#navigation{
    background:radial-gradient( 150px at 150px ,white -30%, lightgrey);  
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    top:0%;
}
#jeunes{
    color:#e6007e;
    text-decoration: none;
    padding: 1%;
}
#referent{
    color:rgb(19, 202, 19);
    text-decoration: none;
    padding: 1%;
}
#consultant{
    color:rgb(34, 140, 186);
    text-decoration: none;
    padding: 1%;
}
#partenaires{
    color:rgb(92, 104, 92);
    text-decoration: none;
    padding: 1%;
}
/* Corps de la page*/
#ecriture{
margin-top: -10px;
margin-bottom: 0px;
}
#textg{
width: 30%;
float:left;
padding:1%;
}
h1 {
margin-bottom: 5px;
}
#textm{
float: left;
width: 33%;
padding:1%;
}

#textd{  
margin-top: 2%;
float: left;
width: 30%;
padding:1%;
}
                    /********* TABLEAU ***********/
.tableau{
text-decoration: none;
color:grey;
text-align: center;
}
/*tableau rose*/
#tab1{

width:14%;
border: 3px solid #e6007e;
left:27vw;
position:absolute;
height: 13vw;
margin-top: 22vw;
float: left;
}
#rose{
background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.536),#e6007e);
color: white;
text-align: center;
background-color: #e6007e;
font-size: 1.5em;
height: 6vw;
}
#rose2{
background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.674),rgb(255, 225, 239));
background-color: rgb(255, 225, 239);
text-align: justify;
font-size: 1em;
}
/*tableau bleu*/
#tab3{
border: 3px solid #009fe3;
left: 63vw;
position: absolute;
width:14%;
height: 13vw;
margin-top: 22vw;
float: left;
}
#bleu{
background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.536),#009fe3);
color: white;
text-align: center;
background-color: #009fe3;
font-size: 1.5em;
height: 6vw;
}
#bleu2{
background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.674),#c1e7fa);
background-color: #c1e7fa;
text-align: justify;
font-size: 1em;
}
/*tableau vert*/
#tab2{
width:14%;
border: 3px solid #c5d40e;
left: 45vw;
position: absolute;
height: 13vw;
margin-top: 22vw;
float: left;
}
#vert{
height: 6ww;
background: linear-gradient(0.25turn, #c5d40e,#13a538);
color: white;
text-align: center;
background-color: #13a538;
font-size: 1.5em;
}
#vert2{
background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.695),#c3d40e87);
background-color: rgb(255, 225, 239);
text-align: justify;
font-size: 1em;
}
.inscription {
    background-image: linear-gradient(to right, #e6007e 0%, #61045F  51%, #e6007e  100%);
    padding: 1vW;
    padding-right: 3vw;
    width: 3vw;
    float: right;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 9vw;
    margin-right: 3vw;
  }
  .inscription:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
.connexion {
    background-image: linear-gradient(to right, #e6007e 0%, #61045F  51%, #e6007e  100%);
    padding: 1vw ;
    padding-right: 3vw;
    width: 3vw;
    float: right;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 9vw;
    margin-right: 1vw;
  }

  .connexion:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
.deconnexion {
    background-image: linear-gradient(to right, #e6007e 0%, #61045F  51%, #e6007e  100%);
    padding: 1vW ;
    padding-right: 2vw;
    width: 5vw;
    float: right;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 9vw;
    margin-right: 3vw;
  }

  .deconnexion:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  #nouv{
    border: none;
    border-bottom: #e6007e dotted 2px;
    font-size: 0.5em;
    background-color: aliceblue;
    font-size: 0.8em;
    color: white;
    text-decoration: none;
}
