/*Partie Banderole -------------------------------------------------*/
#banderole{
    margin: -7px;
    margin-bottom: 0px;
    background:radial-gradient( circle closest-corner at 220px 150px ,white 0%, lightgrey 100%);
    font-family:sans-serif;      
}
#banderole img{
    width: 14em;    
}

#banderole #Jeune{
    color: #e6007e;
    font-size:6em;
    text-decoration: none;
    margin-left: 65vw;
    position: absolute  ;  
}
#banderole #engagement{
    color: white;
    margin-top: 3em;
    margin-left: 46vw;
    font-size:2em;
    text-decoration: none;
    float: right;
    position: absolute;
    display: contents;
}
/* volet de navigation*/
#navigation{
    background:radial-gradient( 150px at 150px ,white -30%, lightgrey);  
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    top:0%;
}
#jeunes{
    background-color: #e6007e;
    color:white;
    text-decoration: none;
    margin-left: 4%;
    padding: 1%;
}
#referent{
    color:rgb(19, 202, 19);
    text-decoration: none;
    padding: 1%;
}
#consultant{
    color:rgb(34, 140, 186);
    text-decoration: none;
    padding: 1%;
}
#partenaires{
    color:rgb(92, 104, 92);
    text-decoration: none;
    padding: 1%;
}


/*-------------------------------------------------*/
body {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    background-image:url("../image/pagejeune/logo_page_jeune.jpeg");
    background-size: 40%;
    background-position:center;
    background-position-y: 250px;
    background-repeat: no-repeat;
}

.form a{
    text-decoration: none;
    color: black;
    border: black solid 1px;
    background-color: aliceblue;
    padding: 1% ;
    margin-right: 2%;
    margin-left: 2%;
}
.form{
    background-color: aliceblue;
    border:#e6007e solid 2px;
    border-radius: 7px;
    color: #e6007e;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 1.7em;
    margin-left: 35vw;
    margin-right: 35vw;
    padding:1%;
    text-align: center;
}


#corps{
    background-color: white;
    border:#e6007e solid 2px;
    border-radius: 7px;
    color: #e6007e;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 1.7em;
    margin-left: 30vw;
    margin-right: 30vw;
    padding:1%;
}

#carree{
    border: none;
    border-bottom: #e6007e dotted 2px;
    font-size: 0.5em;
    background-color: aliceblue;
    font-size: 0.8em;
    color: black;
}

