body {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    background-image:url("../image/pagejeune/logo_page_jeune.jpeg");
    background-size: 40%;
    background-position:center;
    background-position-y: 250px;
    background-repeat: no-repeat;
}
/* banderole avec le nom de la page sur laquelle on est*/
#banderole{
    margin: -7px;
    margin-bottom: 0px;
    background:radial-gradient( circle closest-corner at 220px 150px ,white 0%, #d3d3d3 100%);
    font-family:sans-serif;      
}
#banderole img{
    width: 14em;    
}

#ref{
    color: #5864bf;
    font-size:5em;
    text-decoration: none;
    margin-left: 50vw;
    position: absolute;  
}
#hautpage{
    color: white;
    margin-top: 2em;
    margin-left: 44vw;
    font-size:2em;
    text-decoration: none;
}
/* volet de navigation*/
#navigation{
    background:radial-gradient( 150px at 150px ,white -30%, lightgrey);  
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    top:0%;
}
#jeunes{
    color:#e6007e;
    text-decoration: none;
    margin-left: 4%;
    padding: 1%;
}
#referent{
    color:rgb(35, 164, 21);
    text-decoration: none;
    padding: 1%;
}
#consultant{
    background-color: rgb(71, 124, 199);
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 1%;
}
#partenaires{
    color:rgb(92, 104, 92);
    text-decoration: none;
    padding: 1%;
}

/* Corps de la page*/
#oui > h1{color: rgba(0, 166, 255, 0.819);
    font-size:80px;
    cursor: default;
    }
#oui>h2{color: rgb(255, 255, 255);
    font-size: 40;
    letter-spacing: 5px;
    }
#oui {background-color: rgb(202, 202, 202);
    
    }
li{display:inline-block; padding: 15px;
    background-color: rgb(202, 202, 202);
}
.ul1{border: 1px solid black;padding: 0px;
    margin-top:-30;
font-size: 20;}

#bleu{text-align: center;
    color: rgba(51, 171, 252, 0.819) ;
    font-size: 26;
    margin-top: 13;
}
.jeun{color: rgb(253, 107, 219);
font-size: 30px;
margin-top: 5px;}
.ref{color: rgb(159, 199, 99);
    font-size: 30px;
    margin-top: 5px;}
.bordure{border-color: rgb(253, 107, 219) ;}
.bordure2{border-color: greenyellow;}
.form1{width: 740px; height: 700px;}
.arth{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.mart{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.date{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.gmail{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.Facebook{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.enfant{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.ans{border-bottom-style: dotted;font-size: 20px;color: rgb(30, 30, 155);}
.form1{
    background-image: url("jesuis2.png");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
}
.form2{width: 740px; height: 700px;
    float:right;
    background-image: url("referent.png");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
}