body{
    background: linear-gradient(0.25turn, white,lightgrey);
}

label ~ input{
    background-attachment: fixed;
    display: grid;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #0d005f;
}
input {
    border-radius: 20px;
    border: 1px, solid, black;
    background-color: aliceblue;
}