body{
    background: linear-gradient(0.25turn, white,lightgrey);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #0d005f;
}
.corps{
    background-color: rgb(252, 252, 252);
    width: 99%;
    height: 500px;
    padding-right: 1%;
}
.intro{
    margin: auto;
    width:fit-content;
    height: fit-content;
}
.formulaire{
    line-height: 30px;
    margin: 75px 1212px 0px 680px;
    padding: auto;
    background-color: azure;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex; /*Voir à quoi sert display flex*/
}
input{
    margin-top: 7%;
    display: grid;
    line-height: 2em;
    background-color: aliceblue;
    border-bottom: 2px solid #1237db; 
    border-top: none;
    border-left: none;
    border-right: none;
    
}   