body {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
}

#banderole {
    color: white;
    margin: -7px;
    margin-bottom: 0px;
    background: radial-gradient(white, lightgrey);
    display: grid;
    background-attachment: fixed;
}
#banderole b {
    margin-top: 1em;
    margin-left: 20vw;
    font-size: 4em;
    text-decoration: none;
    float: right;
    position: relative;
}
#banderole img {
    width: 14em;
}
#jeunes {
    text-decoration: none;
    padding: 1%;
}

a[id="jeunes"]:hover{
    background-color: #db12ca;
    color: white;
}

a[id="referent"]:hover{
    background-color: #09ac4d;
    color: white;
}

a[id="consultant"]:hover{
    background-color: rgb(34, 140, 186);
    color: white;
}

a[id="partenaires"]:hover{
    background-color: rgb(92, 104, 92);
    color: white;
}

#partenaires {
    color: rgb(92, 104, 92);
    text-decoration: none;
    padding: 1%;
}
#navigation {
    background: radial-gradient(white, lightgrey);
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    top: 0%;
}
#referent {
    color: rgb(19, 202, 19);
    text-decoration: none;
    padding: 1%;
}
#consultant {
    color: rgb(34, 140, 186);
    text-decoration: none;
    padding: 1%;
}
h1{
    color: #db12ca;
}
.corps{
    background-color: rgb(252, 252, 252);
    width: 99%;
    height: 500px;
}
form{
    line-height: 30px;
    margin: auto;
    margin-top: 5%;
    padding: 10%;
    background-color:white;
    width: 750px;
    height: 750px;
    align-items: center;
    justify-content: center;
    display: grid;
    border: solid 1px #db12ca;
    padding: 1%;
}
input{
    line-height: 2em;
    background-color: aliceblue;
    border-bottom: 2px dotted #db12ca; 
    border-top: none;
    border-left: none;
    border-right: none; 
}
label.left{
    color: #db12ca;
    text-align: left;
    vertical-align: top;
}